#navbar_top, #footerFFF{
    background-color: rgba(71, 151, 103, 1);
}
#linkColHov p a{
    text-decoration: none;
    color: white;
}
#linkColHov p a:hover {
    text-decoration: none;
    color: rgb(24, 42, 197);
    font-size: 25px;
}